body {
    padding: o;
    margin: 0;



}


/* Header Begin */
header {
    width: 100%;
    background: blue;
    max-height: 


}

/*Content Begin */

content {





}

/* Global Begins */
.row {
	display: block;
	clear: both;
	padding: 0;
}

.row ul {
	padding: 0;
	margin: 0;
}

.row ul li {
	list-style-type: none;
	display: inline-block;
	width: 32%;
}


.column {
	float: left;
	vertical-align: top;
}
/* Global Ends */