body {
  padding: 0;
  margin: 0;
}

.postsPage {
  background: hotpink;
}

.container {
  width: 900px;
  margin: 90px auto;
}

.container h1 {
  -webkit-transform: rotate(-6deg);
  position: absolute;
  font-family: sans-serif;
  text-shadow: 1px 1px 5px rgb(235, 235, 235);
  font-weight: 900;
  top: 10px;
  z-index: 1;
}

.posts .post {
  border: 2px solid hotpink;
  padding: 15px;
  /*margin: 0 0 15px 0;*/
  position: relative;
  width: 266px;
  display: inline-block;
  vertical-align: top;
  height: 300px;
  background: white;
}

.posts .title {
  font-size: 28px;
  font-family: sans-serif;
  text-decoration: underline;
  padding-bottom: 15px;
}

.posts .body {
  font-size: 17px;
  padding-bottom: 30px;
  line-height: 24px;
  font-weight: 100;
}

/* post.html page */
.postPage {
  background: white;
}

.postPage header .title {
  font-size: 48px;
  text-decoration: underline;
}

.postPage header {
  background: rgb(48, 42, 111);
  color: rgb(233, 233, 233);
  padding: 30px;
}

.postPage footer {
  height: 50px;
  background: rgb(78, 78, 78);
  color: rgb(233, 233, 233);
  padding: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.postPage .body {
  padding: 30px;
  width: 50%;
  line-height: 20px;
}

.postPage footer a {
  color: hotpink;
  transition: ease-in-out .33s;
}

.postPage footer a:hover {
  color: white;
  text-shadow: 0 0 10px rgb(136, 168, 165);
}
